@font-face {
  font-family: 'MiFuente';
  src: url('MickeyMousePersonalUseRegular-mLRAG.otf') format('opentype');
}

#body_duck {
  font-family: 'MiFuente', sans-serif;
}



#body_duck{
background-color: #9300e6;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 200px;
}

#body_duck img{
    width: 150px;
}

button{
     font-family: 'MiFuente', sans-serif;
     color: white;
     background-color: black;

}